FORMAT: 1A
HOST: https://api.teamleader.eu

# Teamleader API

This is the new Teamleader API. We will make additions and changes to this API, but don't worry; we will keep the documented endpoints backwards compatible for the lifetime of this major API version.

Do you have any feedback, do you miss functionality to support your use case? Let us know via [api@teamleader.eu](mailto:api@teamleader.eu).

## AP-What?

An API is an Application Programming Interface. It is used to programmatically interact with Teamleader, integrate with other software tools or add custom functionalities to Teamleader.

Before creating a new integration, make sure to check our existing integrations built by our community in our [Teamleader Marketplace](https://marketplace.teamleader.eu).

## General principles

### Endpoints

Our API consists of HTTP RPC-style methods, in the form of `https://api.teamleader.eu/resource.action`.

We chose this action based approach over the more popular REST, because it enables us to have domain related actions on resources such as `invoices.book`, `timetracking.start` and `timetracking.stop`.

### Requests

All methods must be called using HTTPS. Data is passed as JSON data in a POST request or as GET query parameters.

For more complex actions we recommend using POST requests with JSON:

```
POST https://api.teamleader.eu/invoices.list

{
    "filter": {
        "department_id": "9d4096c3-813f-4bd5-b3c4-4091807b5b74"
    },
    "page": {
        "size": 50,
        "number": 3
    }
}
```

The GET equivalent:

```
GET https://api.teamleader.eu/invoices.list?filter[department_id]=9d4096c3-813f-4bd5-b3c4-4091807b5b74&page[number]=3&page[size]=50&company_id=3250c613-c478-4a43-9640-b97da923eb21
```

### Responses

Both single objects and collections are returned as JSON objects, keyed by `data` in the top level of a JSON object:

```json
{
    "data": {
        "id": "f1dfb84c-3c29-4548-9b9b-9090a080742a",
        "first_name": "Erlich",
        "last_name": "Bachman",
        "salutation": "Mr",
        "email": "info@piedpiper.eu"
    }
}
```

Responses may also contain meta data for pagination.

Sample response with pagination:
```json
{
    "data": [
        {
            "id": "f1dfb84c-3c29-4548-9b9b-9090a080742a",
            "first_name": "Erlich",
            "last_name": "Bachman",
            "salutation": "Mr",
            "email": "info@piedpiper.eu"
        },
        {
            "id": "f1dfb84c-3c29-4548-9b9b-9090a080742b",
            "first_name": "John",
            "last_name": "Doe",
            "salutation": "Mr",
            "email": "john@piedpiper.eu"
        }
    ],
    "meta": {
        "page": {
            "size": 20,
            "number": 2
        },
        "matches": 200
    }
}
```

### Errors

Errors are always returned as an array of error objects, keyed by `errors` in the top level of a JSON object:

```json
{
  "errors": [
    {
      "title": "Company name must not be empty"
    }
  ]
}
```

### Rate limiting

To ensure a fast and predictable experience for everyone, all our API endpoints have a rate limit of **100 calls per minute** for each integration (or client id) to a Teamleader account.

When you go over this limit, our API will respond with a `HTTP 429 Too Many Requests error`.

If your integrations need a higher limit, send us an email at [api@teamleader.eu](mailto:api@teamleader.eu) with a detailed explanation of why you need an increased rate limit.

### Status codes

When objects are created, we return a `201` response containing the `id` and `type` of the new resource:

```json
{
  "type": "contact",
  "id": "9d4096c3-813f-4bd5-b3c4-4091807b5b74"
}
```

When objects are updated or actions are performed, we often return an empty response with a `204` status code.

Common used status codes:

 - `200` - OK
 - `201` - Created, when resources are created
 - `204` - No Content, on resource updates or actions
 - `400` - Bad Request, the request contains invalid data or references non-existing resources
 - `401` - Unauthorized, invalid or missing access token
 - `403` - Forbidden, not allowed to access this resource
 - `404` - Not Found, resource not found
 - `429` - Too Many Requests, your client has reached the API rate limit
 - `500` - Internal Server Error, something went wrong on our end

## Authentication

### OAuth 2

OAuth 2 is an authorization framework that allows a user to grant limited access to data in a Teamleader account, without having to expose their credentials.

To get access to the protected resources using our API, OAuth 2 uses access tokens. An access token is a string representing the granted permissions. Access tokens can be obtained after a user has completed the OAuth 2 authorization flow.

Before starting, you will need to register your integration (an OAuth 2 client) on our [Marketplace](https://marketplace.teamleader.eu/build). Each registered integration is assigned a unique `client_id` and `client_secret`, which is used in the OAuth 2 authorization flow. Note that the `client_secret` key should not be shared or embedded in client-side code.

When you register an integration on our [Marketplace](https://marketplace.teamleader.eu), it is required to select all *scopes* your integration wants access to.

For more detailed information about OAuth 2, we recommend reading [this article](https://auth0.com/docs/protocols/oauth2).

### Authorization flow

To get access to a user's Teamleader data using the *authorization code grant type*, redirect users to the Teamleader authorization page:

`https://app.teamleader.eu/oauth2/authorize`

The required GET parameters are:

 - `client_id` - issued when you create your integration
 - `response_type` - must be "code"
 - `state` - unique string to be passed back upon completion (optional)
 - `redirect_uri` - URL to redirect back to after authorization

> A list of allowed redirect URIs needs to be configured on your integration's [settings page](https://marketplace.teamleader.eu/build). Only redirect URIs matching one of these whitelisted URIs will be accepted. This is a security measure to prevent malicious users to impersonate your integration.

After logging in, the user will be asked to authorize your integration to access the data in their account. You will only be granted access to certain Teamleader data, based on the scopes you have selected on your integration's [settings page](https://marketplace.teamleader.eu/build).

If the user authorizes your integration, they will be redirected to the specified `redirect_uri` with a temporary authorization code and the original `state` parameter. If the `state` parameter does not match the original value, the response may have been created by a third party and should be ignored.

`https://YOUR_REDIRECT_URI?code=CODE&state=STATE`

If the user denies your integration, he will be redirected to the `redirect_uri`, with an `error` parameter:

`https://YOUR_REDIRECT_URI?error=access_denied`

### Obtaining access tokens

After receiving the authorization code from the previous step, an access token can be requested to make API calls. Note that authorization codes can only be exchanged for an access token once and expire 10 minutes after issuance. To exchange the code for an access token, send an HTTP POST request to the following endpoint:

`https://app.teamleader.eu/oauth2/access_token`

The required POST parameters are:

 - `client_id` - issued when you register your integration
 - `client_secret` - issued when you register your integration
 - `code` - the authorization code
 - `grant_type` - must be "authorization_code"
 - `redirect_uri` - the original submitted redirect URL

It is recommended to add `content-type` header to this request. Supported content types are:

 - application/x-www-form-urlencoded
 - application/json

You will receive a JSON response containing an `access_token` and `refresh_token`:

```
{
    "token_type": "Bearer",
    "expires_in": 3600,
    "access_token": "ACCESS_TOKEN",
    "refresh_token": "REFRESH_TOKEN"
}
```

These access tokens are also known as bearer tokens. You can use this token to call API endpoints on behalf of the user, by adding it to the API request as an `Authorization` header.

```
GET https://api.teamleader.eu/contacts.list HTTP/1.1
Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciO...
Accept: application/json
```

Access tokens expire shortly (usually 1 hour) after they are issued for security reasons. If your integration needs to communicate with our API beyond the access token's lifespan, you will need to request a new access token using the refresh token which was issued with the access token. Note that refresh tokens can only be used once to get a new access token and refresh token.

### Using refresh tokens

If an access token is expired, a new access token and refresh token pair can be obtained by sending an HTTP POST request to the following endpoint:

`https://app.teamleader.eu/oauth2/access_token`

The required POST parameters are:

 - `client_id` - issued when you register your integration
 - `client_secret` - issued when you register your integration
 - `refresh_token` - the refresh token
 - `grant_type` - must be "refresh_token"

Refresh tokens will continue functioning until the user revokes them or uninstalls your integration.

### Client-side authorization (implicit grant)

Your client secret must remain private and can not be embedded within client side applications such as browser plugins. For these types of applications, we have an alternative authorization method called using the [implicit grant](https://tools.ietf.org/html/rfc6749#section-1.3.2).  
The implicit grant is a simplified authorization code flow optimized for clients implemented in a browser using a scripting language such as JavaScript. In the implicit flow, instead of issuing the client an authorization code, the client is issued an access token directly.

Similar to the regular flow, users are redirected to the Teamleader authorization page, but use `token` as the `response_type`:

`https://app.teamleader.eu/oauth2/authorize`

The required GET parameters are:

 - `client_id` - issued when you create your integration
 - `response_type` - must be "token" (instead of "code")
 - `state` - unique string to be passed back upon completion (optional)
 - `redirect_uri` - URL to redirect back to after authorization

> A list of allowed redirect URIs needs to be configured on your integration's [settings page](https://marketplace.teamleader.eu/build). Only redirect URIs matching one of these whitelisted URIs will be accepted. This is a security measure to prevent malicious users to impersonate your integration.

After authorization, the user is redirected to the `redirect_uri` with the following parameters in the **fragment part of the url**:

 - `token_type` - with the value "Bearer"
 - `expires_in` - the TTL for this access token in seconds
 - `access_token` - the access token
 - `state` - the state parameter sent in the original request

Example:

`https://YOUR_REDIRECT_URI#token_type=Bearer&expires_in=900&access_token=TOKEN&state=STATE`

Note that the implicit grant does not return refresh tokens and that our access tokens have a short TTL value. If you opt for this authorization method, you will have to go through the authorization flow every time you want to make API calls on behalf of the user. Keep this in mind while developing client-side applications.

### User Identity

To retrieve information about the user who authorized your application (the resource owner), call the `users.me` API endpoint:

`https://api.teamleader.eu/users.me`

### PHP code example

You can find a (very) minimal PHP code example, showing how to start the OAuth 2 authentication flow and retrieve the user's identity using the obtained access token.

[https://github.com/teamleadercrm/api/blob/master/examples/oauth2.php](https://github.com/teamleadercrm/api/blob/master/examples/oauth2.php)

A Teamleader PHP SDK is under development. In the meanwhile, we recommend using packages such [Guzzle](http://docs.guzzlephp.org/en/stable) or the [League OAuth2 client](http://oauth2-client.thephpleague.com).

<a name="sideloading"></a>
## Sideloading

Sideloading (or compound documents) allows you to retrieve relevant related items as part of a single request. For example, a deal has a reference to a lead which can either be a contact or a company:

```
{
  "data": {
    "id": "f6871b06-6513-4750-b5e6-ff3503b5a029",
    "title": "Deal with ACME",
    "lead": {
      "customer": {
        "type": "company",
        "id": "2659dc4d-444b-4ced-b51c-b87591f604d7"
      }
    }
  }
}
```

Relationships are always represented by an object with a type/id combination. All of these relationships are candidates for sideloading.

To sideload relationships, use the dot-notation reference of the relationship's property and add it as an `include` parameter to your JSON body or your URL. In this case of our deal's customer, that would be `include=lead.customer`.

The sideloaded relationships are returned as part of an `included` property in the response body.

```
{
  "data": {
    "id": "f6871b06-6513-4750-b5e6-ff3503b5a029",
    "title": "Deal with ACME",
    "lead": {
      "customer": {
        "type": "company",
        "id": "2659dc4d-444b-4ced-b51c-b87591f604d7"
      }
    }
  },
  "included": {
    "company": [
      {
        "id": "2659dc4d-444b-4ced-b51c-b87591f604d7",
        "name": "ACME"
      }
    ]
  }
}
```

Note that the sideloaded relationships are indexed based on their object type. Use the `type` property from your original relationship object to search for the sideloaded relationship in the `included` section.

Multiple relationships can be sideloaded at the same time by passing them as a comma-separated value such as `include=lead.customer,responsible_user`.

Sideloading is supported on every endpoint which returns objects.

## Changes & upgrades

We want to keep this API backwards compatible as long as possible, but at the same time, we need to make changes to it to match our evolving product.

Therefore we assigned a dated version to your API client when it was created.
This version controls the API and webhooks behaviour for your API client.
When we change the API in a backwards-incompatible way, we release a new dated version.
To avoid breaking your code, you stay on your assigned version until you [upgrade your API version](#upgrading-your-api-version).

### Types of changes

We consider the following changes to be backwards-compatible:

- Adding new API endpoints.
- Adding new optional parameters to existing API requests.
- Adding new properties to existing API responses.
- Adding new webhook types.
- Making existing parameters optional.
- Changing the order of properties in existing API responses.
- Fixing (potential) bugs that made an endpoint unusable (HTTP 500 errors).
- (Currently, we also hold ourselves the right to return a different error format, as there is still room for improvement)

We consider the following changes to be backwards-incompatible:

- Renaming or removing an endpoint.
- Renaming or removing a parameter of API requests.
- Renaming or removing a property of API responses.
- Changing the format of a parameter of API responses (eg. integer to float)
- Making validation of a parameter more strict (eg. making it required)
- Returning a different HTTP status code.

<a name="additions"></a>
### Additions

We list all backwards-compatible additions here. These are currently available in all published versions.
(There is also a [list of backwards-incompatible upgrades](#changelog) available, but those only apply if you [upgrade your API version](#upgrading-your-api-version).)

#### Latest

- We added the `starts_on` field on `milestones.create`, `milestones.update`, `milestones.info`, `milestones.list` and `projects.create` for milestones

#### May 2020

- We no longer require all fields in `projects.update`, only the id remains required.

- We added the `purchase_order_number` field to `projects.info`, `projects.create`, and `projects.update`

#### April 2020

- We added the `description` field to `milestones.info`, `milestones.create`, and `milestones.update`.

- We added the `propagate_date_changes` property to `milestones.update`. This allows propagating the new due date difference to the due date of all open tasks of that milestone, and recursively to all depending milestones.

- We added the `vat_number` property to `contacts.info`.

- Project custom fields are now included as `custom_fields` on `projects.info`. They can also be added and updated through the `projects.create` / `projects.update` endpoints.

#### March 2020

- We added actuals and budget to `projects.list`, `projects.info`, `milestones.list`, and `milestones.info`

- We added `depends_on` to the `milestones.info` and `milestones.list` endpoints.

- We added `dependency_for` to the `milestones.info` and `milestones.list` endpoints. This indicates all the milestones for which the current milestone is a dependency.

- We added `depends_on` to the `milestones.create` and `milestones.update` endpoints. It allows setting a dependency on another milestone of the same project.

#### February 2020

- We added an `ids` filter to `lostReasons.list`.

- We added `lost_reason` to the response of `deals.info`.

- We added `lost_reason` to the response of `deals.list`. This is composed of a `lostReason` object along with a more elaborate `remark`.

- We added a filter `term` to `invoices.list`.

- We added the `purchase_order_number` to the response of both `deals.list` and `deals.info` request.

- We added the `summary` to the response of both the `deals.list` and `deals.info` request. The `summary` can also be added and updated through the `deals.create` / `deals.update` endpoints.

#### January 2020

- We added format `ubl/e-fff` to `invoices.download`.

- We added filters `estimated_closing_date_from` and `estimated_closing_date_until` to `deals.list`.

- We added a new sorting option `weighted_value` to `deals.list` and will allow ascending as well as descending orders on sorts.
  The default remains created_at and descending as before if nothing is passed.

- We added the `weighted_value` to the response of both `deals.list` and `deals.info` requests.

- We added the `extra_option_allowed` information (for single select custom fields) to `customFieldDefinitions.list` and `customFieldDefinitions.info` endpoints.

- We added format `ubl/e-fff` to `creditNotes.download`.

#### October 2019

- We added `milestones.delete`.

- We added a `estimated_closing_date` filter to `deals.list`.

- We added a filter `created_before` to `deal.list`.

- We modified filter `responsible_user_id` in `deal.list` to also accept an array of responsible_user_ids.

- Task custom fields are now included as `custom_fields` on `tasks.info`. They can also be added and updated through the `tasks.create` / `tasks.update` endpoints.

- Milestone custom fields are now included as `custom_fields` on `milestones.info`. They can also be added and updated through the `milestones.create` / `milestones.update` endpoints.

#### July 2019

- We added an `updated_since` filter to `products.list`

- We added `project` to `tasks.info` and `tasks.list`.

- We added a filter by `subject` to `timeTracking.list`.

- A `task_id` filter has been added to `/events.list`.

- We added a `term` filter to `milestone.list`.

#### June 2019

- We added a `term` filter to `tasks.list`.

- We added `tasks.complete` and `tasks.reopen` endpoints.

- We added `due_by` and `due_from` to `tasks.list` filters.

- We added a `tasks.schedule` endpoint.

- We added the ability to sort `tasks.list` based on a descending `due_at`.

- `tasks.info` and `tasks.list` now return information about the customer.

- We added `customer` parameter to `tasks.create` and `tasks.update`.

- In order to link milestones and deals to a task, we added `milestone_id` and `deal_id` as optional parameters to `tasks.create` and `tasks.update`.

- `tasks.list` and `tasks.info` now return the milestone and deal objects.

#### May 2019

- We added a `started_at` property to `timers.update` in order to be able to update the start time of a running timer.

- We added `sent` as a boolean to `invoices.info` and `invoices.list`.

- We added an optional filter on `ids` to `invoices.list`.

- We added `creditNote.booked` and `product.added` to the available webhooks list.

#### April 2019

- In `users.info`, we added the `status` property to the response since it is now possible to retrieve deactivated users.

- In `users.list`, you can now also request deactivated users, by using a new filter on `status`.
  By default, the endpoint keeps returning active users only. The status is also returned in the response data.

- We've added a `products.add` endpoint.
  Because you can provide the selling price of a product in this endpoint, we also return it in `products.info` from now on.

- We now also return the `payment_reference` of an invoice in the `invoices.list`.
  We also made it filterable through the `payment_reference` filter.

- We added the `purchase_order_number` to all relevant endpoints (`invoices.draft`, `invoices.update`, `invoices.info` and `invoices.list`).
  The property is also filterable through the `purchase_order_number` filter.

- We added `currency_exchange_rate` to `quotations.info`.

- The `events.list` endpoint now has an optional filter property `ids`.

- The `tasks.list` endpoint now has an optional filter property `ids`.

- We added an `invoices.credit` endpoint.

#### March 2019

- On `invoices.draft` and `invoices.update` you can now also provide (a) global discount(s) through the `discounts` property.

- We've published a bunch of `tasks` endpoints (`tasks.list`, `tasks.info`, `tasks.create`, `tasks.update`, `tasks.delete`).

- We now also return a `currency_exchange_rate` on all `.info` endpoints where we support multi-currency.
  That is `quotations.info`, `invoices.info` and `creditNotes.info`.

#### February 2019

- We now also return the `invoicing_method` of a milestone. Both in `milestones.list` and `milestones.info`.

- We now expose the invoiceability of time trackings and running timers. You can now use the `invoiceable` property on the following endpoints:
  - `timeTracking.list`
  - `timeTracking.info`
  - `timeTracking.add`
  - `timeTracking.update`
  - `timers.current`
  - `timers.start`
  - `timers.update`

  We also return an `invoiceable` preference in the `users.me` endpoint that exposes whether a user prefers to track time by default as invoiceable or not.

- We've added a `national_identification_number` property on contacts.
  You can read it from `contacts.list` and `contacts.info`.
  It's also writeable through `contacts.add` and `contacts.update`.

- Invoicing custom fields included as `custom_fields`.
  They are returned in `invoices.info`.
  They can be added or updated through `invoices.draft` and `invoices.update`.

- Deal can now be filtered with a `term` in `deals.list`.
  We will return deals of which the term is part of the title, reference or customer's name.

- We have created a way to fetch more data about related resources: sideloading.
  More information can be found [here](#sideloading).

- We didn't provide you with a way to find the uuid of a quotation.
  Based on a v1 deal id, you can now retrieve the uuid of a quotation with `migrate.id`.

#### January 2019

- The `projects.list` endpoint has an optional filter to filter on `term` now.
  We return projects for which the term appears in the title or description.

- During `invoices.draft` and `invoices.update`, we now allow you to provide a `withholding_tax_rate_id`.
  Don't worry if you don't know what this is. Withholding taxes only apply in certain countries, eg Spain or Italy.

- We added a filter on `term` in `users.list`.
  We return those users who have the term in their first name, last name or email address.

- We already had a part of the products APIs for our own usage, but since it might be useful to you, we are making it public.
  So `products.list` and `products.info` are now available for usage.

<a name="upgrading-your-api-version"></a>
### Upgrading your API version

This documentation only reflects the latest version of the API.
If you need to make changes to your client or you want to make use of the latest feature, you might need to upgrade your API version.

You can find your current API version, in the `X-Api-Version` header on any API response.
The current latest version is **2019-10-09**.

After checking the API [changelog](#changelog) to see which endpoints work differently, you can upgrade your API version:

Send an `X-Api-Version` header containing the identifier of a version (newer than your current version) with your requests.

_This will only affect the version for those API calls and won't affect any other calls done by your client._

<a name="changelog"></a>
### Changelog

We list all backwards-incompatible changes here. As described above, new additions and forwards-compatible changes don’t need a new API version and can be found [here](#additions).

#### 2019-10-09

- We added `billing_method` and `budget`, and `billing_method` and `price` to `milestones.create`.
  - When choosing `time_and_materials` or `non_invoiceable` as the billing method, you can provide a `budget`.
  - When choosing `fixed_price` as the billing method, you need to provide the `price`.

#### 2019-07-03

- The property `todo` has been renamed to `task` on the following endpoints:
  - `events.list`
  - `events.info`

- We renamed the `context` field for work orders on customFieldDefinitions from `werkbonnen` to `work_orders`

- The property `due_at` was removed in favour of `due_on`. Additionally, `due_on` is a date with format `YYYY-MM-DD`, instead of a ISO8601 datetime. These changes affect the following endpoints:
  - `tasks.info`
  - `tasks.list`
  - `tasks.create`
  - `tasks.update`

- We won't accept `project` as a `subject` anymore in `timeTracking.add`, `timeTracking.update`, `timers.start` and `timers.update`.
  We wrongly accepted this in the past, but time tracking always needs to be coupled to a milestone. Please use the `milestone` subject instead.
  For older versions, we will link the time tracked to the oldest `open` milestone. If there is no `open` milestone, it's linked to the most recent `closed` or `done` milestone.

#### 2019-03-13

- The property `tax` has been changed. Instead of giving you the `rate` of the tax it now shows the `id` and the `type` of the tax. This has been changed on the following endpoints:
  - `invoices.info`
  - `creditNote.info`
  - `quotations.info`

- We simplified the `products.info` and `products.list` endpoints:
  - `name` and `description` are no longer wrapped in a `translations` object.
  - `external_id` was renamed to `code`
  - `prices` are temporarily no longer returned, to avoid confusion, as they didn't take into account price lists

#### 2019-01-24

- Previously, the `invoices.info` endpoint returned an _non-existing_ or _empty_ `extended_description` as an empty string, while `invoices.draft` and `invoices.update` didn't allow an empty string as `extended_description`.
  From now on, `invoices.info` will return an _non-existing_ or _empty_ `extended_description` as `null`, to make this more consistent and interchangeable.

- Invoices can now have three statuses (`draft`, `outstanding` or `matched`) instead of two (`draft` or `booked`).
  Therefore the `status` property in `invoices.list` and `invoices.info` will either return `outstanding` or `matched` for invoices that were previously just `booked`.
  This is also reflected in the `status` filter on `invoices.list`: to allow you to still query all `outstanding` and `matched` invoices (previously all `booked`) , it now *only* accepts an array of filter values (eg. `["outstanding", "matched"]` or `["draft"]`).

- The property `local_business_number` was renamed to `national_identification_number` on the following endpoints:
  - `companies.info`
  - `companies.list`
  - `companies.add`
  - `companies.update`
  - `invoices.info`
  - `creditNotes.info`

- An invoice number actually contains the bookyear, so from now on, you will see eg. `2018 / 27` instead of `27`.
  This is reflected in the `invoice_number` property in the `invoices.list` and `invoices.info` endpoints.

#### 2018-10-30

- The top-level property `customer` was removed on all deal endpoints.
  Earlier, this property could already be found under the `lead.customer` property.
  If you were still using the `customer` property, just wrap it in an object under a `lead` key.

- The `contacts.list` & `companies.list` endpoints used to give back an object under the `address` key.
  This object is now returned under the `primary_address` key.

### Stay informed

You can follow our API progress and ongoing proposals via our [API Blueprint GitHub repository](https://github.com/teamleadercrm/api).

# Group General

## Departments [/departments]

Departments are used to split quotations and invoices for different legal entities or within one organisation.

*Required scopes: `departments`*

### departments.list [GET /departments.list]

Get a list of departments.

+ Request (application/json)

    + Attributes (object)
        + filter (object)
            + ids: `92296ad0-2d61-4179-b174-9f354ca2157f`,`53635682-c382-4fbf-9fd9-9506ca4fbcdd` (array[string], optional)
        + sort (array, optional)
            + (object)
                + field (enum, required)
                    + Members
                        + name
                + order (enum, optional)
                    + Members
                        + asc
            + Default
                + (object)
                    + field: `name`
                    + order: `asc`

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + id: `67c576e7-7e6f-465d-b6ab-a864f6e5e95b` (string)
                + name: `Human Resources` (string)
                + vat_number: `BE0899623035` (string)
                + currency: `EUR` (string)

### departments.info [GET /departments.info]

Get details for a single department.

+ Request (application/json)

    + Attributes (object)
        + id: `92296ad0-2d61-4179-b174-9f354ca2157f` (string, required)

+ Response 200 (application/json)

    + Attributes (object)
        + data  (object)
            + id: `67c576e7-7e6f-465d-b6ab-a864f6e5e95b` (string)
            + name: `Human Resources` (string)
            + vat_number: `BE0899623035` (string)
            + address (Address)
            + emails (array)
                + (object)
                    + type: `primary` (enum)
                        + Members
                            + primary
                            + invoicing
                    + email: `info@piedpiper.eu` (string)
            + telephones (array[object])
                + type: `phone` (enum, required)
                    + Members
                        + phone
                        + fax
                + number: `092980615` (string, required)
            + website: `https://piedpiper.com` (string)
            + currency: `EUR` (string)
            + iban: `BE12123412341234` (string)
            + bic: `BICBANK` (string)
            + fiscal_regime: `RF01` (string, nullable)

## Users [/users]

Users are co-workers in a Teamleader account.

*Required scopes: `users`*

### users.me [GET /users.me]

Get the current authenticated user.

+ Response 200 (application/json)

    + Attributes
        + data (object)
            + id: `cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5` (string)
            + account (object)
                + type: `account` (string)
                + id: `0fc55513-7f68-4865-aba0-de5da9e4e43d` (string)
            + first_name: `John` (string)
            + last_name: `Smith` (string)
            + email: `john@teamleader.eu` (string)
            + telephones (array[Telephone])
            + language: `nl-BE` (enum)
                + Members
                    + da-DK
                    + de-DE
                    + en-GB
                    + es-ES
                    + fi-FI
                    + fr-FR
                    + it-IT
                    + nb-NO
                    + nl-BE
                    + nl-NL
                    + pl-PL
                    + pt-PT
                    + sv-SE
                    + tr-TR
            + function: `Sales` (string)
            + time_zone: `Europe/Brussels` (string)
            + preferences (object)
                + invoiceable: true (boolean)

### users.list [GET /users.list]

Get a list of all users.

+ Request (application/json)

    + Attributes (object)
        + filter (object, optional)
            + ids: `cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5`,`f8a57a6f-dd1e-41a3-b8d3-428663f1d09e` (array[string], optional)
            + term: `John` (string, optional) - Filters on first name, last name and email
            + status (array[enum], optional) - Filters on status
                + Members
                    + active - Filters on active users
                    + deactivated - Filters on deactivated users
        + sort (array, optional)
            + (object)
                + field (enum, required)
                    + Members
                        + name
                + order (enum, optional)
                    + Members
                        + asc
            + Default
                + (object)
                    + field: `name`
                    + order: `asc`
        + page (Page, optional)

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + id: `cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5` (string)
                + account (object)
                    + type: `account` (string)
                    + id: `0fc55513-7f68-4865-aba0-de5da9e4e43d` (string)
                + first_name: `John` (string)
                + last_name: `Smith` (string)
                + email: `john@teamleader.eu` (string)
                + telephones (array[Telephone])
                + language: `nl` (string)
                + function: `Sales` (string)
                + status: `active` (enum)
                    + Members
                        + active
                        + deactivated

### users.info [GET /users.info]

Get details for a single user.

+ Request (application/json)

    + Attributes (object)
        + id: `cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5` (string, required)

+ Response 200 (application/json)

    + Attributes
        + data (object)
            + id: `cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5` (string)
            + account (object)
                + type: `account` (string)
                + id: `0fc55513-7f68-4865-aba0-de5da9e4e43d` (string)
            + first_name: `John` (string)
            + last_name: `Smith` (string)
            + email: `john@teamleader.eu` (string)
            + telephones (array[Telephone])
            + language: `nl-BE` (enum)
                + Members
                    + da-DK
                    + de-DE
                    + en-GB
                    + es-ES
                    + fi-FI
                    + fr-FR
                    + it-IT
                    + nb-NO
                    + nl-BE
                    + nl-NL
                    + pl-PL
                    + pt-PT
                    + sv-SE
                    + tr-TR
            + function: `Sales` (string)
            + time_zone: `Europe/Brussels` (string)
            + status: `active` (enum)
                + Members
                    + active
                    + deactivated

## Custom Fields [/customFieldDefinitions]

Custom fields are used to add additional data/properties to entities within Teamleader.

### customFieldDefinitions.list [GET /customFieldDefinitions.list]

Get a list of all the definitions of custom fields.

+ Request (application/json)

    + Attributes (object)
        + page (Page, optional)
        + sort (array, optional)
            + (object)
                + field (enum, required)
                    + Members
                        + label
                        + context
                + order (enum, optional)
                    + Members
                        + asc
                        + desc
            + Default
                + (object)
                    + field: `label`
                    + order: `asc`

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + id: `74855f4a-2b61-429c-81d8-c79ad3675a76` (string)
                + context: `contact` (enum)
                    + Members
                        + contact
                        + company
                        + deal
                        + project
                        + milestone
                        + product
                        + invoice
                        + subscription
                        + ticket
                + type (enum)
                    + Members
                        + single_line - Single line text
                        + multi_line - Multiline text
                        + single_select - Single selection - has configuration
                        + multi_select - Multiple selection - has configuration
                        + date - Date
                        + money - Money
                        + auto_increment - Automatically incrementing field
                        + integer - Integer
                        + number - Number
                        + boolean - Yes/No
                        + email - Email address
                        + telephone - Phone number
                        + url - URL
                        + company - Company
                        + contact - Contact
                        + product - Product
                        + user - User
                + label (string)
                + group (string)
                + required: false (boolean)
                + configuration (object, optional)
                    + options: foo, bar (array[string])
                    + extra_option_allowed: true (boolean)

### customFieldDefinitions.info [GET /customFieldDefinitions.info]

Get info about a specific custom field definition.

+ Request (application/json)

    + Attributes (object)
        + id: `9c64570b-4ec1-4e03-9662-af904f78f7fa` (string, required)

+ Response 200 (application/json)

    + Attributes (object)
        + data (object)
            + id: `57e851e2-3d3b-4523-82f8-fe77df5a5d6c` (string)
            + context: `contact` (enum)
                + Members
                    + contact
                    + company
                    + deal
                    + project
                    + milestone
                    + product
                    + invoice
                    + subscription
                    + ticket
            + type (enum)
                + Members
                    + single_line - Single line text
                    + multi_line - Multiline text
                    + single_select - Single selection - has configuration
                    + multi_select - Multiple selection - has configuration
                    + date - Date
                    + money - Money
                    + auto_increment - Automatically incrementing field
                    + integer - Integer
                    + number - Number
                    + boolean - Yes/No
                    + email - Email address
                    + telephone - Phone number
                    + url - URL
                    + company - Company
                    + contact - Contact
                    + product - Product
                    + user - User
            + label (string)
            + group (string)
            + required: false (boolean)
            + configuration (object, optional)
                + options: foo, bar (array[string])
                + extra_option_allowed: true (boolean)

## Work Types [/workTypes]

Work types define the type of work for events or time tracking. Hourly rates can be added to work types, so that the work can be billed to a customer.

### workTypes.list [POST /workTypes.list]

Get a list of all work types, sorted alphabetically (on their name).

+ Request (application/json)

    + Attributes (object)
        + filter (object, optional)
            + ids: `6e342192-76d4-4b26-b1d7-e24df46bf603`,`1652ab6f-ad24-4f5c-a2fc-c6a30693a930` (array[string], optional)
        + page (Page, optional)
        + sort (array, optional)
            + Default
                + (object)
                    + field: `name`
                    + order: `asc`

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + id: `811a5825-96f4-4318-83c3-2840935c6003` (string)
                + name: `Planning` (string)

# Group CRM

## Contacts [/contacts]

Contacts are physical entities who are added to your CRM database. Contacts might be linked to one or more companies.

*Required scopes: `contacts`*

### contacts.list [GET /contacts.list]

Get a list of contacts.

+ Request (application/json)

    + Attributes (object)
        + filter (object, optional)
            + email (object, optional)
                + type: `primary` (enum, required)
                    + Members
                         + primary
                + email: `info@piedpiper.eu` (string, required)
            + ids: `cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5`,`f8a57a6f-dd1e-41a3-b8d3-428663f1d09e` (array[string], optional)
            + company_id: `cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5` (string, optional)
            + term: `James` (string, optional) - Filters on first_name, last_name, email and telephone
            + updated_since: `2016-02-04T16:44:33+00:00` (string, optional)
            + tags: `expo`,`prospect` (array[string], optional) - Filters on contacts coupled to all given tags
        + page (Page, optional)
        + sort (array, optional)
            + (object)
                + field (enum, required)
                    + Members
                        + added_at - Sorts on added_at
                        + name - Sorts alphabetically on last_name and first_name
                        + updated_at - Sorts on updated_at
                + order (enum, optional)
                    + Members
                        + asc
                        + desc
            + Default
                + (object)
                    + field: `name`
                    + order: `asc`

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + id: `2a39e420-3ba3-4384-8024-fa702ef99c9f` (string)
                + first_name: `Erlich` (string)
                + last_name: `Bachman` (string)
                + salutation: `Mr` (string)
                + emails (array)
                    + (object)
                        + type: `primary` (enum)
                            + Members
                                + primary
                        + email: `info@piedpiper.eu` (string)
                + telephones (array[Telephone])
                + website: `https://piedpiper.com` (string)
                + primary_address (Address)
                + gender: `male` (enum)
                    + Members
                        + male
                        + female
                + birthdate: `1987-04-25` (string)
                + iban: `BE12123412341234` (string)
                + bic: `BICBANK` (string)
                + national_identification_number: `86792345-L` (string)
                + language: `en` (string)
                + payment_term (PaymentTerm, nullable)
                + invoicing_preferences (object)
                    + electronic_invoicing_address (string, nullable)
                + tags: prospect, expo (array[string])
                + added_at: `2016-02-04T16:44:33+00:00` (string)
                + updated_at: `2016-02-05T16:44:33+00:00` (string)
                + `web_url`: `https://app.teamleader.eu/contact_detail.php?id=2a39e420-3ba3-4384-8024-fa702ef99c9f` (string)

### contacts.info [GET /contacts.info]

Get details for a single contact.

+ Request (application/json)

    + Attributes (object)
        + id: `cde0bc5f-8602-4e12-b5d3-f03436b54c0d` (string, required)

+ Response 200 (application/json)

    + Attributes (object)
        + data (object)
            + id: `cde0bc5f-8602-4e12-b5d3-f03436b54c0d` (string)
            + first_name: `Erlich` (string)
            + last_name: `Bachman` (string)
            + salutation: `Mr` (string)
            + vat_number: `BE0899623034` (string, nullable)
            + emails (array)
                + (object)
                    + type: `primary` (enum)
                        + Members
                            + primary
                    + email: `info@piedpiper.eu` (string)
            + telephones (array[Telephone])
            + website: `https://piedpiper.com` (string)
            + addresses (array)
                + (object)
                    + type: `invoicing` (enum)
                        + Members
                            + primary
                            + invoicing
                            + delivery
                            + visiting
                    + address (Addressee) - Primary addresses can not contain an addressee
            + gender: `male` (enum)
                + Members
                    + male
                    + female
            + birthdate: `1987-04-25` (string)
            + iban: `BE12123412341234` (string)
            + bic: `BICBANK` (string)
            + national_identification_number: `00051730-A` (string)
            + companies (array)
                + (object)
                    + position: `CEO` (string)
                    + decision_maker: true (boolean)
                    + company (object)
                        + type: `company` (string)
                        + id: `40157f9d-1322-4f2e-b245-188efdc52cc2` (string)
            + language: `en` (string)
            + payment_term (PaymentTerm, nullable)
            + invoicing_preferences (object)
                + electronic_invoicing_address (string, nullable)
            + remarks: `First contact at expo` (string) - Uses Markdown formatting
            + tags: prospect, expo (array[string])
            + custom_fields (array[CustomField])
            + marketing_mails_consent: false (boolean)
            + added_at: `2016-02-04T16:44:33+00:00` (string)
            + updated_at: `2016-02-05T16:44:33+00:00` (string)
            + `web_url`: `https://app.teamleader.eu/contact_detail.php?id=cde0bc5f-8602-4e12-b5d3-f03436b54c0d` (string)

### contacts.add [POST /contacts.add]

Add a new contact.

+ Request (application/json)

    + Attributes (object)
        + first_name: `John` (string, optional)
        + last_name: `Smith` (string, required)
        + emails (array, optional)
            + (object)
                + type: `primary` (enum, required)
                    + Members
                        + primary
                + email: `info@piedpiper.eu` (string, required)
        + salutation: `Mr` (string, optional)
        + telephones (array[Telephone], optional)
        + website: `http://example.com` (string, optional)
        + addresses (array, optional)
            + (object)
                + type: `invoicing` (enum, required)
                    + Members
                        + primary
                        + invoicing
                        + delivery
                        + visiting
                + address (Addressee, required) - Primary addresses can not contain an addressee
        + language: `en` (string, optional)
        + gender: `male` (enum, optional)
            + Members
                + male
                + female
        + birthdate: `1989-08-19` (string, optional)
        + iban: `BE12123412341234` (string, optional)
        + bic: `BICBANK` (string, optional)
        + national_identification_number: `01234567-X` (string)
        + remarks: `Met at expo` (string, optional) - Uses Markdown formatting
        + tags: prospect, expo (array[string], optional)
        + custom_fields (array[CustomFieldValue], optional)
        + marketing_mails_consent: false (boolean, optional)

+ Response 201 (application/json)

    + Attributes (object)
        + data (object)
            + type: `contact` (string)
            + id: `7c1d8672-f502-4333-9ea4-7a45add15115` (string)

### contacts.update [POST /contacts.update]

Update a contact.

+ Request (application/json)

    + Attributes (object)
        + id: `76c9d03c-ec5c-4b21-9fc6-7ffee488b12d` (string, required)
        + first_name: `John` (string, optional, nullable)
        + last_name: `Smith` (string, optional)
        + salutation: `Mr` (string, optional, nullable)
        + emails (array, optional)
            + (object)
                + type: `primary` (enum, required)
                    + Members
                        + primary
                + email: `info@piedpiper.eu` (string, required, nullable)
        + telephones (array[Telephone], optional, nullable)
        + website: `http://example.com` (string, optional, nullable)
        + addresses (array, optional)
            + (object)
                + type: `invoicing` (enum, required)
                    + Members
                        + primary
                        + invoicing
                        + delivery
                        + visiting
                + address (Addressee, required) - Primary addresses can not contain an addressee
        + language: `en` (string, optional)
        + gender: `male` (enum, optional, nullable)
            + Members
                + male
                + female
        + birthdate: `1989-08-19` (string, optional, nullable)
        + iban: `BE12123412341234` (string, optional, nullable)
        + bic: `BICBANK` (string, optional, nullable)
        + national_identification_number: `19346758-T` (string)
        + remarks: `Met at expo` (string, optional, nullable) - Uses Markdown formatting
        + tags: prospect, expo (array[string], optional)
        + custom_fields (array[CustomFieldValue], optional)
        + marketing_mails_consent: false (boolean, optional)

+ Response 204

### contacts.delete [POST /contacts.delete]

Delete a contact.

+ Request (application/json)

    + Attributes (object)
        + id: `4e235f27-0af0-40e5-82f3-d32d0aa9edb3` (string, required)

+ Response 204

### contacts.tag [POST /contacts.tag]

Add a new or existing tag to a contact.

+ Request (application/json)

    + Attributes (object)
        + id: `cadd94ba-a41e-4eb4-a46e-39a7f6f96070` (string, required)
        + tags: prospect, expo (array[string], required)

+ Response 204

### contacts.untag [POST /contacts.untag]

Remove a tag from a contact.

+ Request (application/json)

    + Attributes (object)
        + id: `518d2e5e-99bc-4c66-8509-78e6820a1418` (string, required)
        + tags: prospect, expo (array[string], required)

+ Response 204

### contacts.linkToCompany [POST /contacts.linkToCompany]

Link a contact to a company.

+ Request (application/json)

    + Attributes (object)
        + id: `75596038-b9c8-4a37-969d-61059e300a28` (string, required)
        + company_id: `4da20f00-0628-4336-b885-aa90e580dd85` (string, required)
        + position: `CEO` (string, optional)
        + decision_maker: true (boolean, optional)

+ Response 204

### contacts.unlinkFromCompany [POST /contacts.unlinkFromCompany]

Unlink a contact from a company.

+ Request (application/json)

    + Attributes (object)
        + id: `b4b3160a-b55e-4033-bdae-25b6d22949b4` (string, required)
        + company_id: `3f1c8650-4292-4187-bb02-4aa00bbe9632` (string, required)

+ Response 204

## Companies [/companies]

Companies are legal entities, usually linked to a VAT and/or local business number.

*Required scopes: `companies`*

### companies.list [GET /companies.list]

Get a list of companies.

+ Request (application/json)

    + Attributes (object)
        + filter (object, optional)
            + email (object, optional)
                + type: `primary` (enum, required)
                    + Members
                         + primary
                + email: `info@piedpiper.eu` (string, required)
            + ids: `cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5`,`f8a57a6f-dd1e-41a3-b8d3-428663f1d09e` (array[string], optional)
            + term: `Acme` (string, optional) - Filters on name, vat number, emails and telephones
            + updated_since: `2016-02-04T16:44:33+00:00` (string, optional)
            + tags: `expo`,`lead` (array[string], optional) - Filters on tag names
        + page (Page, optional)
        + sort (array, optional)
            + (object)
                + field (enum, required)
                    + Members
                        + name
                        + added_at
                        + updated_at
                + order (enum, optional)
                    + Members
                        + asc
                        + desc
            + Default
                + (object)
                    + field: `name`
                    + order: `asc`

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + id: `96a38bbf-24ed-4083-8a5c-20db92aa471e` (string)
                + name: `Pied Piper` (string)
                + business_type (object)
                    + type: `businessType` (string)
                    + id: `fd48d4a3-b9dc-4eac-8071-5889c9f21e5d` (string)
                + vat_number: `BE0899623035` (string)
                + national_identification_number: `63326426` (string)
                + emails (array)
                    + (object)
                        + type: `primary` (enum)
                            + Members
                                + primary
                                + invoicing
                        + email: `info@piedpiper.eu` (string)
                + telephones (array[CompanyTelephone])
                + website: `https://piedpiper.com` (string)
                + primary_address (Address)
                + iban: `BE12123412341234` (string)
                + bic: `BICBANK` (string)
                + language: `nl` (string)
                + preferred_currency: `EUR` (string, nullable)
                + payment_term (PaymentTerm, nullable)
                + invoicing_preferences (object)
                    + electronic_invoicing_address (string, nullable)
                + responsible_user (object)
                    + type: `user` (string)
                    + id: `9b99d8f8-183b-4c7b-8354-9b98b47a192e` (string)
                + added_at: `2016-02-04T16:44:33+00:00` (string)
                + updated_at: `2016-02-05T16:44:33+00:00` (string)
                + `web_url`: `https://app.teamleader.eu/company_detail.php?id=96a38bbf-24ed-4083-8a5c-20db92aa471e` (string)
                + tags: prospect, expo (array[string])

### companies.info [GET /companies.info]

Get details for a single company.

+ Request (application/json)

    + Attributes (object)
        + id: `e8d31ae7-8258-4fcd-9b2d-78f41b0aa5d5` (string, required)

+ Response 200 (application/json)

    + Attributes (object)
        + data (object)
            + id: `e8d31ae7-8258-4fcd-9b2d-78f41b0aa5d5` (string)
            + name: `Pied Piper` (string)
            + business_type (object)
                + type: `businessType` (string)
                + id: `fd48d4a3-b9dc-4eac-8071-5889c9f21e5d` (string)
            + vat_number: `BE0899623035` (string)
            + national_identification_number: `63326426` (string)
            + emails (array)
                + (object)
                    + type: `primary` (enum)
                        + Members
                            + primary
                            + invoicing
                    + email: `info@piedpiper.eu` (string)
            + telephones (array[CompanyTelephone])
            + website: `https://piedpiper.com` (string)
            + addresses (array)
                + (object)
                    + type: `invoicing` (enum)
                        + Members
                            + primary
                            + invoicing
                            + delivery
                            + visiting
                    + address (Addressee) - Primary addresses can not contain an addressee
            + iban: `BE12123412341234` (string)
            + bic: `BICBANK` (string)
            + language: `nl` (string)
            + preferred_currency: `EUR` (string, nullable)
            + payment_term (PaymentTerm, nullable)
            + invoicing_preferences (object)
                + electronic_invoicing_address (string, nullable)
            + responsible_user (object)
                + type: `user`
                + id: `7ba98a20-5e2b-4b46-81b9-a3364432d4f0` (string)
            + remarks: `First contact at expo` (string) - Uses Markdown formatting
            + added_at: `2016-02-04T16:44:33+00:00` (string)
            + updated_at: `2016-02-05T16:44:33+00:00` (string)
            + `web_url`: `https://app.teamleader.eu/company_detail.php?id=e8d31ae7-8258-4fcd-9b2d-78f41b0aa5d5` (string)
            + tags: prospect, expo (array[string])
            + custom_fields (array[CustomField])
            + marketing_mails_consent: false (boolean)

### companies.add [POST /companies.add]

Add a new company.

+ Request (application/json)

    + Attributes (object)
        + name: `Pied Piper` (string, required)
        + business_type_id: `fd48d4a3-b9dc-4eac-8071-5889c9f21e5d` (string, optional)
        + vat_number: `BE0899623035` (string, optional)
        + national_identification_number: `63326426` (string, optional)
        + emails (array, optional)
            + (object)
                + type: `primary` (enum, required)
                    + Members
                        + primary
                        + invoicing
                + email: `info@piedpiper.eu` (string, required)
        + telephones (array[CompanyTelephone], optional)
        + website: `http://example.com` (string, optional)
        + addresses (array, optional)
            + (object)
                + type: `invoicing` (enum, required)
                    + Members
                        + primary
                        + invoicing
                        + delivery
                        + visiting
                + address (Addressee, required) - Primary addresses can not contain an addressee
        + iban: `BE12 1234 1234 1234` (string)
        + bic: `BICBANK` (string, optional)
        + language: `en` (string, optional)
        + responsible_user_id: `2b12bd5d-d2d9-43ac-8755-36a1e00bd67f` (string, optional)
        + remarks: `Met at expo` (string, optional) - Uses Markdown formatting
        + tags: prospect, expo (array[string], optional)
        + custom_fields (array[CustomFieldValue], optional)
        + marketing_mails_consent: false (boolean, optional)

+ Response 201 (application/json)

    + Attributes (object)
        + data (object)
            + type: `company` (string)
            + id: `4784189d-610b-4488-b3a5-5f324f752417` (string)

### companies.update [POST /companies.update]

Update a company.

+ Request (application/json)

    + Attributes (object)
        + id: `4784189d-610b-4488-b3a5-5f324f752417` (string, required)
        + name: `Pied Piper` (string, optional)
        + business_type_id: `fd48d4a3-b9dc-4eac-8071-5889c9f21e5d` (string, optional, nullable)
        + vat_number: `BE0899623035` (string, optional, nullable)
        + national_identification_number: `63326426` (string, optional, nullable)
        + emails (array, optional)
            + (object)
                + type: `primary` (enum, required)
                    + Members
                        + primary
                        + invoicing
                + email: `info@piedpiper.eu` (string, required)
        + telephones (array[CompanyTelephone], optional)
        + website: `http://example.com` (string, optional)
        + addresses (array, optional)
            + (object)
                + type: `invoicing` (enum, required)
                    + Members
                        + primary
                        + invoicing
                        + delivery
                        + visiting
                + address (Addressee, required) - Primary addresses can not contain an addressee
        + iban: `BE12 1234 1234 1234` (string, optional, nullable)
        + bic: `BICBANK` (string, optional, nullable)
        + language: `en` (string, optional, nullable)
        + responsible_user_id: `0ea94804-401d-4dbd-a577-c2d60998f798` (string, optional, nullable)
        + remarks: `Met at expo` (string, optional, nullable) - Uses Markdown formatting
        + custom_fields (array[CustomFieldValue], optional)
        + marketing_mails_consent: false (boolean, optional)

+ Response 204

### companies.delete [POST /companies.delete]

Delete a company.

+ Request (application/json)

    + Attributes (object)
        + id: `f3d67f3e-b8a9-45e8-99b1-17a3b14de8a6` (string, required)

+ Response 204

### companies.tag [POST /companies.tag]

Add a new or existing tag to a company.

+ Request (application/json)

    + Attributes (object)
        + id: `cadd94ba-a41e-4eb4-a46e-39a7f6f96070` (string, required)
        + tags: prospect, expo (array[string], required)

+ Response 204

### companies.untag [POST /companies.untag]

Remove a tag from a company.

+ Request (application/json)

    + Attributes (object)
        + id: `518d2e5e-99bc-4c66-8509-78e6820a1418` (string, required)
        + tags: prospect, expo (array[string], required)

+ Response 204

## Business Types [/businessTypes]

Each country has a specific set of business types or range of legal entities. You can specify the business type when adding or updating a company.

### businessTypes.list [GET /businessTypes.list]

Get the names of business types (legal structures) a company can have within a certain country, sorted alphabetically.

+ Request (application/json)

    + Attributes (object)
        + country: `BE` (string, optional)

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + id: `fd48d4a3-b9dc-4eac-8071-5889c9f21e5d` (string)
                + name: `VZW/ASBL` (string)
                + country: `BE` (string)

## Tags [/tags]

Tags are used to label contacts or companies, so that they can easily be filtered or grouped into segments.

### tags.list [GET /tags.list]

Get a list of tags.

+ Request (application/json)

    + Attributes (object)
        + page (Page, optional)
        + sort (array, optional)
            + (object)
                + field (enum, required)
                    + Members
                        + tag
                + order (enum, optional)
                    + Members
                        + asc
            + Default
                + (object)
                    + field: `tag`
                    + order: `asc`

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + tag: `campaign` (string)

## Addresses [/levelTwoAreas]

We provide a set of data which can be used to build addresses.

### levelTwoAreas.list [GET /levelTwoAreas.list]

Get a list of level two areas (which correspond to provinces, departments or states in most countries).

+ Request (application/json)

    + Attributes (object)
        + country: `BE` (string, required)
        + language: `nl` (string, optional) - if not passed, the name is returned in the primary language of the country

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + id: `fd48d4a3-b9dc-4eac-8071-5889c9f21e5d` (string)
                + name: `West-Vlaanderen` (string)
                + country: `BE` (string)

# Group Deals

## Deals [/deals]

Deals are sale opportunities, which need to be followed up by their responsible user. A deal can move through specific deal phases, and be marked as won or lost.

*Required scopes: `deals`*

### deals.list [GET /deals.list]

Get a list of deals.

+ Request (application/json)

    + Attributes (object)
        + filter (object, optional)
            + ids: `3f507137-e599-41d4-8625-0e2adba0be4c`,`ae97f6d3-0bb4-43d3-b13d-f06069d07e98` (array[string], optional)
            + term: `Interesting deal` (string, optional) - Filters on the title, reference and customer's name
            + customer (object, optional)
                + type (enum, required)
                    + Members
                        + company
                        + contact
                + id: `2659dc4d-444b-4ced-b51c-b87591f604d7` (string, required)
            + phase_id: `1758e847-cc1f-04ce-bd17-5a852e8c01b4` (string, optional)
            + estimated_closing_date: `2018-02-11` (string, optional, nullable)
            + estimated_closing_date_from: `2020-01-01` (string, optional) - This date is inclusive
            + estimated_closing_date_until: `2020-01-31` (string, optional) - This date is inclusive
            + One Of
                + responsible_user_id: `98b2863e-7b01-4232-82f5-ede1f0b9db22` (string, optional)
                + responsible_user_id: `98b2863e-7b01-4232-82f5-ede1f0b9db22`, `98b2863e-7b01-4232-82f5-ede1f0b9db24` (array[string], optional)
            + updated_since: `2018-02-11T16:45:30+00:00` (string, optional) - This date is inclusive
            + created_before: `2018-02-11T16:45:30+00:00` (string, optional) - This date is inclusive
            + status: `open`, `won`, `lost` (array[string], optional)
        + page (Page, optional)
        + sort (array, optional)
            + (object)
                + field (enum, required)
                    + Members
                        + created_at
                        + weighted_value
                + order (enum, optional)
                    + Members
                        + asc
                        + desc
            + Default
                + (object)
                    + field: `created_at`
                    + order: `desc`


+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + id: `6e7fe84d-d4b3-4723-abae-9bc082d8f65a` (string)
                + title: `Interesting deal` (string)
                + summary: `Additional information` (string, nullable)
                + reference: `2017/2` (string)
                + status: `won` (enum)
                    + Members
                        + new
                        + open
                        + won
                        + lost
                + lead (object)
                    + customer (object)
                        + type: `company` (enum)
                            + Members
                                + contact
                                + company
                        + id: `2659dc4d-444b-4ced-b51c-b87591f604d7` (string)
                    + contact_person (object)
                        + type: `contact` (string)
                        + id: `74c6769e-815a-4774-87d7-dfab9b1a0abb` (string)
                + department (object)
                    + type: `department`
                    + id: `33121d39-44e2-426a-92ef-62178edeec8a` (string)
                + estimated_value (Money)
                + estimated_closing_date: `2017-05-09` (string)
                + estimated_probability: `0.5` (number)
                + weighted_value (Money)
                + purchase_order_number: `000023` (string, nullable)
                + current_phase (object)
                    + type: `dealPhase`
                    + id: `521a331d-60d1-4920-bde3-ccd01d09f9f1` (string)
                + responsible_user (object)
                    + type: `user`
                    + id: `bac1c91b-bc86-489b-8590-9be9478f62bb` (string)
                + closed_at: `2017-05-09T11:31:30+00:00` (string)
                + source (object)
                    + type: `dealSource` (string)
                    + id: `52a4bbb2-d196-48d7-8e43-9ec2f44d06f9` (string)
                + lost_reason (object, nullable)
                    + reason (object, nullable)
                        + type: lostReason (string)
                        + id: `4e81f3c4-7dca-44cb-b126-6158bec392a2` (string)
                    + remark: `Too expensive` (string, nullable)
                + created_at: `2017-05-09T11:25:11+00:00` (string)
                + updated_at: `2017-05-09T11:30:58+00:00` (string)
                + `web_url`: `https://app.teamleader.eu/sale_detail.php?id=6e7fe84d-d4b3-4723-abae-9bc082d8f65a` (string)

### deals.info [GET /deals.info]

Get details for a single deal.

+ Request (application/json)

    + Attributes (object)
        + id: `f6871b06-6513-4750-b5e6-ff3503b5a029` (string, required)

+ Response 200 (application/json)

    + Attributes (object)
        + data (object)
            + id: `f6871b06-6513-4750-b5e6-ff3503b5a029` (string)
            + title: `Interesting deal` (string)
            + summary: `Additional information` (string, nullable)
            + reference: `2017/2` (string)
            + status: `won` (enum)
                + Members
                    + open
                    + won
                    + lost
            + lead (object)
                + customer (object)
                    + type: `company` (enum)
                        + Members
                            + contact
                            + company
                    + id: `2659dc4d-444b-4ced-b51c-b87591f604d7` (string)
                + contact_person (object)
                    + type: `contact` (string)
                    + id: `74c6769e-815a-4774-87d7-dfab9b1a0abb` (string)
            + department (object)
                + type: `department`
                + id: `92247818-643e-4f5a-bf87-25cd908e8ad9` (string)
            + estimated_value (Money)
            + estimated_closing_date: `2017-05-09` (string)
            + estimated_probability: `0.5` (number)
            + weighted_value (Money)
            + purchase_order_number: `000023` (string, nullable)
            + current_phase (object)
                + type: dealPhase (string)
                + id: `676a6070-f7d3-43a6-bc08-cda0d32c27ab` (string)
            + responsible_user (object)
                + type: user (string)
                + id: `4e81f3c4-7dca-44cb-b126-6158bec392a2` (string)
            + closed_at: `2017-05-09T11:31:30+00:00` (string)
            + source (object)
                + type: `dealSource` (string)
                + id: `aba0ad66-bf59-49fa-b546-45dcbc5e7e6e` (string)
            + phase_history (array)
                + (object)
                    + phase (object)
                        + type: dealPhase (string)
                        + id: `d5a629f2-7b58-4748-aaca-acf9b6d62404` (string)
                    + started_at: `2017-05-01 12:00:00` (string)
                    + started_by (object)
                        + type: user (string)
                        + id: `4ec55a8c-2d80-472a-a9c2-5ff5ee7eac6a` (string)
            + quotations (array)
                + (object)
                    + id: `e2314517-3cab-4aa9-8471-450e73449041` (string)
                    + type: `quotation` (string)
            + lost_reason (object, nullable)
                + reason (object, nullable)
                    + type: lostReason (string)
                    + id: `4e81f3c4-7dca-44cb-b126-6158bec392a2` (string)
                + remark: `Too expensive` (string, nullable)
            + created_at: `2017-05-09T11:25:11+00:00` (string)
            + updated_at: `2017-05-09T11:30:58+00:00` (string)
            + `web_url`: `https://app.teamleader.eu/sale_detail.php?id=f6871b06-6513-4750-b5e6-ff3503b5a029` (string)
            + custom_fields (array[CustomField])

### deals.create [POST /deals.create]

Create a new deal for a customer.

+ Request (application/json)

    + Attributes (object)
        + lead (object, required)
            + customer (object, required)
                + type (enum, required)
                    + Members
                        + contact
                        + company
                + id: `09e5d75f-f817-4872-9723-57fbb8ff710d` (string, required)
            + contact_person_id: `b38ebb9b-6e46-4bf4-a1e2-af747d6b64ae` (string, optional)
        + title: `Interesting business deal` (string, required)
        + summary: `Additional information` (string, optional)
        + source_id: `b38ebb9b-6e46-4bf4-a1e2-af747d6b64ae` (string, optional)
        + department_id: `6a6343fc-fdd8-4bc0-aa69-3a004c710e87` (string, optional)
        + responsible_user_id: `98b2863e-7b01-4232-82f5-ede1f0b9db22` (string, optional)
        + phase_id: `060687bb-a742-4882-a538-199a5e5feb60` (string, optional)
        + estimated_value (Money, optional)
        + estimated_probability: `0.75` (number, optional) - A number between 0 and 1 (inclusive)
        + estimated_closing_date: `2017-05-09` (string, optional)
        + custom_fields (array[CustomFieldValue], optional)

+ Response 201 (application/json)

    + Attributes (object)
        + data (object)
            + type: `deal` (string)
            + id: `65a35860-dcca-4850-9fd6-47ff08469e0c` (string)

### deals.update [POST /deals.update]

Update a deal.

+ Request (application/json)

    + Attributes (object)
        + id: `65a35860-dcca-4850-9fd6-47ff08469e0c` (string, required)
        + lead (object, optional)
            + customer (object, required)
                + type (enum, required)
                    + Members
                        + contact
                        + company
                + id: `09e5d75f-f817-4872-9723-57fbb8ff710d` (string, required)
            + contact_person_id: `b38ebb9b-6e46-4bf4-a1e2-af747d6b64ae` (string, optional)
        + title: `Interesting business deal` (string, optional)
        + summary: `Additional information` (string, optional, nullable)
        + source_id: `b38ebb9b-6e46-4bf4-a1e2-af747d6b64ae` (string, optional, nullable)
        + department_id: `6a6343fc-fdd8-4bc0-aa69-3a004c710e87` (string, optional, nullable)
        + responsible_user_id: `98b2863e-7b01-4232-82f5-ede1f0b9db22` (string, optional, nullable)
        + estimated_value (Money, optional, nullable)
        + estimated_probability: `0.75` (number, optional, nullable) - A number between 0 and 1 (inclusive)
        + estimated_closing_date: `2017-05-09` (string, optional, nullable)
        + custom_fields (array[CustomFieldValue], optional)

+ Response 204

### deals.move [POST /deals.move]

Move the deal to a different phase.

+ Request (application/json)

    + Attributes (object)
        + id: `e88131bf-50c4-49d3-8ae3-47e5d9626bf6` (string, required)
        + phase_id: `8776abee-d856-43c6-b98d-9ffc912e8b0b` (string, required)

+ Response 204

### deals.win [POST /deals.win]

Mark a deal as won.

+ Request (application/json)

    + Attributes (object)
        + id: `e88131bf-50c4-49d3-8ae3-47e5d9626bf6` (string, required)

+ Response 204

### deals.lose [POST /deals.lose]

Mark a deal as lost.

+ Request (application/json)

    + Attributes (object)
        + id: `460df7b2-fe82-4c6c-b215-6d0a1bd3c742` (string, required)
        + reason_id: `da4c902f-2ae5-4c1f-be6f-b50308aabc5c` (string, optional)
        + extra_info: `Not ready for a change, decision postponed` (string, optional)

+ Response 204

### deals.delete [POST /deals.delete]

Delete a deal.

+ Request (application/json)

    + Attributes (object)
        + id: `4e235f27-0af0-40e5-82f3-d32d0aa9edb3` (string, required)

+ Response 204

### lostReasons.list [GET /lostReasons.list]

Get a list of lost reasons for deals.

+ Request (application/json)

    + Attributes (object)
        + filter (object, optional)
            + ids: `6fe903a7-1bf7-0f82-b917-c8b60aafbb63`,`b298edc3-a0cf-0f42-8413-f3063c7dc364` (array[string], optional)
        + page (Page, optional)
        + sort (array, optional)
            + (object)
                + field (enum, required)
                    + Members
                        + name
                + order (enum, optional)
                    + Members
                        + asc
            + Default
                + (object)
                    + field: `name`
                    + order: `asc`

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + id: `6e7fe84d-d4b3-4723-abae-9bc082d8f65a` (string)
                + name: `Deal declined` (string)

## Deal Phases [/dealPhases]

Deal phases are the different phases a deal typically goes through. A deal can be moved to either a next or previous phase. A deal can be marked as won or lost independently from the deal phase.

*Required scopes: `deals`*

### dealPhases.list [GET /dealPhases.list]

Get a list of all phases a deal can go through, sorted by their order in the flow.

+ Request (application/json)

    + Attributes (object)
        + filter (object, optional)
            + ids: `53a7e592-a136-4bae-ae15-517befd3d75d`,`bb50af79-55cd-4be0-8306-e9626c70a90f` (array[string], optional)
        + page (Page, optional)

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + id: `21efc56e-1ba8-469d-926a-e89502591b47` (string)
                + name: `New` (string)

## Deal Sources [/dealSources]

Deal sources are used to track the origin of a deal.

*Required scopes: `deals`*

### dealSources.list [GET /dealSources.list]

Get a list of all deal sources, sorted alphabetically (on name)

+ Request (application/json)

    + Attributes (object)
        + filter (object, optional)
            + ids: `4bd112da-8a39-47b9-b1e2-8ce339c241a3`,`94bd8c65-72ce-4a43-9cdf-9b75f1966010` (array[string], optional)
        + page (Page, optional)
        + sort (array, optional)
            + Default
                + (object)
                    + field: `name`
                    + order: `asc`

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + id: `b18c298b-0e6f-495d-8fcd-31dfecaea741` (string)
                + name: `Referral` (string)

## Quotations [/quotations]

A quotation is a sales offer for a specific customer. It is always attached to a deal. Quotations can be signed online via Cloudsign.

*Required scopes: `quotations`*

### quotations.info [GET /quotations.info]

Get a quotation

+ Request (application/json)

    + Attributes (object)
        + id: `e7a3fe2b-2c75-480f-87b9-121816b5257b` (string, required)

+ Response 200 (application/json)

    + Attributes (object)
        + data (object)
            + id: `e7a3fe2b-2c75-480f-87b9-121816b5257b` (string)
            + deal (object)
                + type: `deal` (string)
                + id: `53474a7a-f9b2-4dd4-88a8-40ce773c7a64` (string)
            + grouped_lines (array)
                + (object)
                    + section (object)
                        + title (string)
                    + line_items (array)
                        + (object)
                            + product (object, nullable)
                                + type: `product` (string)
                                + id: `e2314517-3cab-4aa9-8471-450e73449040` (string)
                            + quantity: 3 (number)
                            + description: `An awesome product` (string)
                            + extended_description: `Some more information about this awesome product` (string) - Uses Markdown formatting
                            + unit_price (object)
                                + Include Money
                                + tax: `excluding` (enum)
                                    + Members
                                        + excluding
                            + tax (object)
                                + type: `taxRate` (string)
                                + id: `e2314517-3cab-4aa9-8471-450e73449042`
                            + discount (object, nullable)
                                + type: `percentage` (enum)
                                    + Members
                                        + percentage
                                + value: 15.00 (number)
                            + total
                                + tax_exclusive (Money)
                                + tax_exclusive_before_discount (Money)
                                + tax_inclusive (Money)
                                + tax_inclusive_before_discount (Money)
                            + currency_exchange_rate (object)
                                + from: `USD` (string)
                                + to: `EUR` (string)
                                + rate: 1.1234 (number)

### quotations.download [POST /quotations.download]

Download a quotation in a specific format.

+ Request (application/json)

    + Attributes (object)
        + id: `d885e5d5-bacb-4607-bde9-abc4a04a901b` (string, required)
        + format: `pdf` (enum, required)
            + Members
                + pdf

+ Response 200 (application/json)

    + Attributes (object)
        + data (object)
            + location: `https://cdn.teamleader.eu/file` (string) - A temporary url where the requested file can be downloaded
            + expires: `2018-02-05T16:44:33+00:00` (string) - Expiration time of the temporary download link

# Group Calendar

## Calendar events [/events]

Calendar events are scheduled events in your calendar. A calendar event involves a particular activity type: a task, meeting or call.

*Required scopes: `events`*

### events.list [GET /events.list]

Get a list of calendar events.

+ Request (application/json)

    + Attributes (object)
        + filter (object, optional)
            + ids: `9c475de2-1e99-0328-bc19-271b27e921d8`,`6325b4e5-c6a6-060b-b010-b81892e82fa7` (array[string], optional)
            + user_id: `5309c8c9-e313-47b0-90ba-6850c3dc3e33` (string, optional)
            + activity_type_id: `edd94120-63e2-4b10-80ed-fdfcfaa0a515` (string, optional)
            + ends_after: `2017-01-01T00:00:00+00:00` (string, optional) - Start of the period for which to return events
            + starts_before: `2018-01-01T00:00:00+00:00` (string, optional) - End of the period for which to return events
            + term: `coffee` (string, optional) - Searches for a term in title or description
            + attendee (object, optional)
                + type (enum, required)
                    + Members
                        + contact
                + id: `2659dc4d-444b-4ced-b51c-b87591f604d7` (string, required)
            + link (object, optional)
                + type (enum, required)
                    + Members
                        + contact
                        + company
                + id: `2659dc4d-444b-4ced-b51c-b87591f604d7` (string, required)
            + task_id: `5309c8c9-e313-47b0-90ba-6850c3dc3e33` (string, optional)
        + page (Page, optional)
        + sort (array, optional)
            + (object)
                + field: `starts_at` (enum, required)
                    + Members
                        + starts_at
                + order: `asc` (enum, optional)
                    + Members
                        + asc
                        + desc
            + Default
                + (object)
                    + field: starts_at
                    + order: asc

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + id: `6d64488c-75d8-4de9-b140-2555566fa27d` (string)
                + creator (object)
                    + type: `user` (string)
                    + id: `e51d1a0e-452e-4d5d-a2a1-2c8f75dde560` (string)
                + task (object)
                    + type: `task` (string)
                    + id: `eb399573-e1ae-4377-bbaf-34358eb19831` (string)
                + activity_type (object)
                    + type: `activityType` (string)
                    + id: `28158af3-2ef3-4178-ac8b-2542b1481af0` (string)
                + title: `Erlich Bachman's birthday` (string)
                + description (string)
                + starts_at: `2016-02-04T16:00:00+00:00` (string)
                + ends_at: `2016-02-04T18:00:00+00:00` (string)
                + location (string)
                + attendees (array)
                    + (object)
                        + type: `contact` (enum)
                            + Members
                                + user
                                + contact
                        + id: `8b3afad7-648d-4b4c-b38b-5726d3222282` (string)
                + links (array)
                    + (object)
                        + type (enum)
                            + Members
                                + company
                                + contact
                        + id: `c9258836-f9a5-40cb-aa2a-d55c22991b93` (string)


### events.info [GET /events.info]

Get details for a single calendar event.

+ Request (application/json)

    + Attributes (object)
        + id: `9a5a3984-abfc-40cd-a880-f97683c6a99c` (string, required)

+ Response 200 (application/json)

    + Attributes (object)
        + data (object)
            + id: `9a5a3984-abfc-40cd-a880-f97683c6a99c` (string)
            + title: `Meeting with stakeholders` (string)
            + description (string)
            + creator (object)
                + type: `user` (string)
                + id: `6f45600a-4402-40e0-9dcc-7665384bcd48` (string)
            + task (object)
                + type: `task` (string)
                + id: `be80d753-f2ee-426d-9596-2a2e1a23a82e` (string)
            + activity_type (object)
                + type: `activityType` (string)
                + id: `4a1b1d8e-45da-4c5f-a986-3f93d174d352` (string)
            + starts_at: `2016-02-04T16:00:00+00:00` (string)
            + ends_at: `2016-02-04T18:00:00+00:00` (string)
            + location (string)
            + attendees (array)
                + (object)
                    + type: `contact` (enum)
                        + Members
                            + user
                            + contact
                    + id: `8b3afad7-648d-4b4c-b38b-5726d3222282` (string)
            + links (array)
                + (object)
                    + type (enum)
                        + Members
                            + company
                            + contact
                            + work_order
                    + id: `c9258836-f9a5-40cb-aa2a-d55c22991b93` (string)

### events.create [POST /events.create]

Create a new calendar event.

+ Request (application/json)

    + Attributes
        + title: `Meeting with stakeholders` (string, required)
        + description (string, optional)
        + activity_type_id: `b0a9ace5-fe82-4827-9d90-fc52f2c93050` (string, required)
        + starts_at: `2016-02-04T16:00:00+00:00` (string, required)
        + ends_at: `2016-02-04T18:00:00+00:00` (string, required)
        + location (string, optional)
        + work_type_id: `b37e2bc7-dea0-4fda-88e9-c092fb65667d` (string, optional)
        + attendees (array, optional)
            + (object)
                + type: `user` (enum, required)
                    + Members
                        + user
                        + contact
                + id: `6ddd2666-65a0-497f-9f01-54c4343ec1a6` (string, required)
        + links (array, optional)
            + (object)
                + type: `company` (enum, required)
                    + Members
                        + company
                        + contact
                + id: `c9258836-f9a5-40cb-aa2a-d55c22991b93` (string, required)

+ Response 201 (application/json)

    + Attributes (object)
        + data (object)
            + type: `event` (string)
            + id: `9fc14045-5c6c-4ba8-8672-42ea3f26aa63` (string)

### events.update [POST /events.update]

Update a calendar event.

+ Request (application/json)

    + Attributes
        + id: `f22fc69d-5d07-40cf-af46-015698a74b63` (string, required)
        + title: `Meeting with stakeholders` (string, optional)
        + description (string, optional, nullable)
        + starts_at: `2016-02-04T16:00:00+00:00` (string, optional)
        + ends_at: `2016-02-04T18:00:00+00:00` (string, optional)
        + location (string, optional)
        + work_type_id: `b37e2bc7-dea0-4fda-88e9-c092fb65667d` (string, optional)
        + attendees (array, optional)
            + (object)
                + type: `user` (enum, required)
                    + Members
                        + user
                        + contact
                + id: `6ddd2666-65a0-497f-9f01-54c4343ec1a6` (string, required)
        + links (array, optional)
            + (object)
                + type: `company` (enum, required)
                    + Members
                        + company
                        + contact
                + id: `c9258836-f9a5-40cb-aa2a-d55c22991b93` (string, required)

+ Response 204

### events.cancel [POST /events.cancel]

Cancel a calendar event (for all attendees).

+ Request (application/json)

    + Attributes (object)
        + id: `b519491e-ca80-4efb-bb7b-3f08544936b0` (string, required)

+ Response 204

## Activity Types [/activityTypes]

Activity types identify the different types of events that take place within your organisation. Currently only three activity types are available: tasks, meetings and calls.

### activityTypes.list [GET /activityTypes.list]

Get a list of all activity types.

+ Request (application/json)

    + Attributes (object)
        + filter (object, optional)
            + ids: `7fcf5609-25fe-47e2-97b2-dbd9c817796e`,`366b6100-7005-4b1b-a16a-7e88f445f496` (array[string], optional)
        + page (Page, optional)

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + id: `9feb5f61-c6dd-4f9d-9b37-2813ada4e343` (string)
                + name (string)

# Group Invoicing

## Invoices [/invoices]

Teamleader provides a whole set of endpoints to make it easy to develop integrations with invoices. New invoices are created in accordance with this flow: `invoice.draft` → `invoice.book`. Invoices can also be updated, deleted or credited.

*Required scopes: `invoices`*

### invoices.list [GET /invoices.list]

Get a list of invoices.

+ Request (application/json)

    + Attributes (object)
        + filter (object, optional)
            + ids: `cb8da52a-ce89-4bf6-8f7e-8ee6cb85e3b5`,`f8a57a6f-dd1e-41a3-b8d3-428663f1d09e` (array[string], optional)
            + term: `Interesting invoice` (string, optional) - Filters on invoice number, purchase order number, payment reference and invoicee
            + department_id: `080aac72-ff1a-4627-bfe3-146b6eee979c` (string, optional) - The ID of the department you wish to filter on.
            + status (array[enum], optional) - The statuses you want to filter by.
                + Members
                    + draft
                    + outstanding
                    + matched
            + updated_since: `2016-02-04T16:44:33+00:00` (string, optional)
            + purchase_order_number: `000023` (string, optional)
            + payment_reference: `+++084/2613/66074+++` (string, optional)
        + page (Page, optional)
        + sort (array, optional)
            + (object)
                + field (enum, required)
                    + Members
                        + invoice_number
                + order (enum, optional)
                    + Members
                        + asc
                        + desc
            + Default
                + (object)
                    + field: `invoice_number`
                    + order: `asc`

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + id: `2aa4a6a9-9ce8-4851-a9b3-26aea2ea14c4` (string)
                + department (object)
                    + type: `department` (string)
                    + id: `5e90eb0a-b502-4344-aa0f-3b8525af6186` (string)
                + invoice_number: `2017 / 5` (string, nullable)
                + invoice_date: `2016-02-04` (string, nullable)
                + status: `matched` (enum)
                    + Members
                        + draft
                        + outstanding
                        + matched
                + due_on: `2016-03-03` (string, nullable)
                + paid: true (boolean)
                + paid_at: `2016-02-04T16:44:33+00:00` (string, nullable)
                + sent: true (boolean)
                + purchase_order_number: `000023` (string, nullable)
                + payment_reference: `+++084/2613/66074+++` (string, nullable)
                + invoicee (object)
                    + name: `De Rode Duivels` (string)
                    + vat_number: `BE0899623035` (string, nullable)
                    + customer (object)
                        + type: `contact` (string)
                        + id: `4b0f959a-27e3-4080-b1b2-a05b374863cb` (string)
                    + for_attention_of (object, nullable)
                        + name: `Radja Nainggolan` (string)
                        + contact (object)
                            + type: `contact` (string)
                            + id: `d4391f46-a32c-458c-b2ee-833fd27a348d` (string)
                + total (object)
                    + tax_exclusive (Money)
                    + tax_inclusive (Money)
                    + payable (Money)
                    + taxes (array)
                        + (object)
                            + rate: 0.21 (number)
                            + taxable (Money)
                            + tax (Money)
                    + due (Money)
                + created_at: `2016-02-04T16:44:33+00:00` (string)
                + updated_at: `2016-02-05T16:44:33+00:00` (string)
                + `web_url`: `https://app.teamleader.eu/invoice_detail.php?id=2aa4a6a9-9ce8-4851-a9b3-26aea2ea14c4` (string)

### invoices.info [GET /invoices.info]

Get details for a single invoice.

+ Request (application/json)

    + Attributes (object)
        + id: `27300f09-6250-4a23-8557-d84c52f99ecf` (string)

+ Response 200 (application/json)

    + Attributes (object)
        + data (object)
            + id: `e540fe7e-dce2-459e-bf7e-24e605fc18b3` (string)
            + department (object)
                + type: `department` (string)
                + id: `8f802cba-443b-4c69-800f-5852e967000b` (string)
            + invoice_number: `2017 / 5` (string, nullable)
            + invoice_date: `2016-02-04` (string, nullable)
            + status: `outstanding` (enum)
                + Members
                    + draft
                    + outstanding
                    + matched
            + due_on: `2016-03-03` (string, nullable)
            + paid: true (boolean)
            + paid_at: `2016-02-04T16:44:33+00:00` (string, nullable)
            + sent: true (boolean)
            + purchase_order_number: `000023` (string, nullable)
            + invoicee (object)
                + name: `De Rode Duivels` (string)
                + vat_number: `BE0899623035` (string, nullable)
                + customer (object)
                    + type: `contact` (string)
                    + id: `c7db7f80-762a-4e65-8d0c-522700198284` (string)
                + for_attention_of (object, nullable)
                    + name: `Radja Nainggolan` (string)
                    + contact (object)
                        + type: `contact` (string)
                        + id: `f88ab83c-b8ca-497b-a2c6-1ad631fe1cea` (string)
                + email: `duivels@test.com` (string, nullable)
                + national_identification_number: `123` (string, nullable)
            + discounts (array)
                + (object)
                    + type: `percentage` (enum)
                        + Members
                            + percentage
                    + value: 15.00 (number)
                    + description: `winter promotion` (string)
            + grouped_lines (array)
                + (object)
                    + section (object)
                        + title (string)
                    + line_items (array)
                        + (object)
                            + product (object, nullable)
                                + type: `product` (string)
                                + id: `e2314517-3cab-4aa9-8471-450e73449040` (string)
                            + product_category (object, nullable)
                                + id: `e2314517-3cab-4aa9-8471-450e73449041` (string)
                                + type: `productCategory` (string)
                            + quantity: 3 (number)
                            + description: `An awesome product` (string)
                            + extended_description: `Some more information about this awesome product` (string, nullable) - Uses Markdown formatting
                            + unit_price (object)
                                + Include Money
                                + tax: `excluding` (enum)
                                    + Members
                                        + excluding
                            + tax (object)
                                + type: `taxRate` (string)
                                + id: `e2314517-3cab-4aa9-8471-450e73449042` (string)
                            + discount (object, nullable)
                                + type: `percentage` (enum)
                                    + Members
                                        + percentage
                                + value: 15.00 (number)
                            + total
                                + tax_exclusive (Money)
                                + tax_exclusive_before_discount (Money)
                                + tax_inclusive (Money)
                                + tax_inclusive_before_discount (Money)
                            + withheld_tax (object, nullable)
                                + type: `withholding_tax` (string)
                                + id: `e2314517-3cab-4aa9-8471-450e73449040` (string)
            + total (object)
                + tax_exclusive (Money)
                + tax_exclusive_before_discount (Money)
                + tax_inclusive (Money)
                + tax_inclusive_before_discount (Money)
                + taxes (array)
                    + (object)
                        + rate: 0.21 (number)
                        + taxable (Money)
                        + tax (Money)
                + withheld_taxes (array)
                    + (object)
                        + id: `e2314517-3cab-4aa9-8471-450e73449040` (string)
                        + taxable (Money)
                        + withheld (Money)
                + payable (Money)
                + due (Money)
            + payment_term (PaymentTerm)
            + payments (array)
                + (object)
                    + paid_at: `2016-03-03T16:44:33+00:00` (string)
                    + payment (object)
                        + Include Money
            + payment_reference: `+++084/2613/66074+++` (string, nullable)
[...]
