FORMAT: 1A
HOST: https://api.teamleader.eu

# Teamleader API

:[Introduction](introduction.apib)

:[Authentication](authentication.apib)

:[Sideloading](sideloading.apib)

:[Changes & upgrades](changes.apib)

# Group General

:[Departments](./01-general/departments.apib)

:[Users](./01-general/users.apib)

:[Custom Fields](./01-general/custom-fields.apib)

:[Work Types](./01-general/work-types.apib)

# Group CRM

:[Contacts](./02-crm/contacts.apib)

:[Companies](./02-crm/companies.apib)

:[Business Types](./02-crm/business-types.apib)

:[Tags](./02-crm/tags.apib)

:[Addresses](./02-crm/addresses.apib)

# Group Deals

:[Deals](./03-deals/deals.apib)

:[Deal Phases](./03-deals/deal-phases.apib)

:[Deal Sources](./03-deals/deal-sources.apib)

:[Quotations](./03-deals/quotations.apib)

# Group Calendar

:[Events](./04-calendar/events.apib)

:[Activity Types](./04-calendar/activity-types.apib)

# Group Invoicing

:[Invoices](./05-invoicing/invoices.apib)

:[Creditnotes](./05-invoicing/credit-notes.apib)

:[Tax Rates](./05-invoicing/tax-rates.apib)

:[Payment Terms](./05-invoicing/payment-terms.apib)

:[Withholding Tax Rates](./05-invoicing/withholding-tax-rates.apib)

# Group Products

:[ProductCategories](./06-products/product-categories.apib)

:[Products](./06-products/products.apib)

# Group Projects

:[Projects](./07-projects/projects.apib)

:[Milestones](./07-projects/milestones.apib)

# Group Tasks

:[Tasks](./08-tasks/tasks.apib)

# Group Time Tracking

:[Time Tracking](./08-time-tracking/time-tracking.apib)

:[Timers](./08-time-tracking/timers.apib)

# Group Work Orders

:[Work Orders](./09-workorders/work-orders.apib)

# Group Other

:[Migrating](./99-other/migrating.apib)

:[Migrating](./99-other/webhooks.apib)

:[Data Structures](datastructures.apib)
