FORMAT: 1A
HOST: https://api.teamleader.eu

# Teamleader API

:[Introduction](introduction.apib)

:[Authentication](authentication.apib)

:[Changelog](changelog.apib)

# Group General

:[Departments](./01-general/departments.apib)

:[Users](./01-general/users.apib)

:[Custom Fields](./01-general/custom-fields.apib)

:[Work Types](./01-general/work-types.apib)

# Group CRM

:[Contacts](./02-crm/contacts.apib)

:[Companies](./02-crm/companies.apib)

:[Business Types](./02-crm/business-types.apib)

:[Tags](./02-crm/tags.apib)

# Group Deals

:[Deals](./03-deals/deals.apib)

:[Deal Phases](./03-deals/deal-phases.apib)

:[Deal Sources](./03-deals/deal-sources.apib)

:[Quotations](./03-deals/quotations.apib)

# Group Calendar

:[Events](./04-calendar/events.apib)

:[Activity Types](./04-calendar/activity-types.apib)

# Group Todos

:[Todos](./05-todos/todos.apib)

# Group Invoicing

:[Invoices](./06-invoicing/invoices.apib)

:[Creditnotes](./06-invoicing/credit-notes.apib)

:[Tax Rates](./06-invoicing/tax-rates.apib)

:[Payment Terms](./06-invoicing/payment-terms.apib)

# Group Products

:[ProductCategories](./07-products/product-categories.apib)

# Group Projects

:[Projects](./08-projects/projects.apib)

:[Milestones](./08-projects/milestones.apib)

# Group Time Tracking

:[Time Tracking](./09-time-tracking/time-tracking.apib)

:[Timers](./09-time-tracking/timers.apib)

# Group Other

:[Migrating](./99-other/migrating.apib)

:[Migrating](./99-other/webhooks.apib)

:[Data Structures](datastructures.apib)
